{% extends "CarnetCarBundle::layout.html.twig" %}

{% block title %}
	Affichage du véhicule - {{ parent() }}
{% endblock %}

{% block car_body %}

	<h2>{{ car.mark }} - {{ car.model }}</h2>

	{% if car.note is not null %}
		<div class="well">
			{{ car.note }}
		</div>
	{% endif %}

	{% for vidange in vidanges %}
		<ul class="nav nav-pills nav-stacked">
			<li>
				<a href="{{ path('carnet_vidange_view', {'id': vidange.id}) }}">
					Fait le {{ vidange.date|date('d/m/Y') }} à {{ vidange.nbKm }}km
				</a>	
			</li>
		</ul>
	{% endfor %}

	<p>
		<a href="{{ path('carnet_car_home') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour à la liste
		</a>
		<a href="{{ path('carnet_car_update', {'id': car.id}) }}" class="btn btn-warning">
			<i class="glyphicon glyphicon-edit"></i>
			Modifier le véhicule
		</a>
		<a href="{{ path('carnet_vidange_add', {'id_car': car.id}) }}" class="btn btn-success">
			<i class="glyphicon glyphicon-wrench"></i>
			Ajouter une vidange
		</a>
		<a href="{{ path('carnet_car_delete', {'id': car.id}) }}" class="btn btn-danger">
			<i class="glyphicon glyphicon-trash"></i>
			Supprimer le véhicule
		</a>
	</p>

{% endblock %}